# Database Connection
DATABASE_URL=postgresql://user:password@host:5432/database?schema=public

# JWT Secrets (use strong, random values in .env)
JWT_SECRET=your_secret_key_here

# API Configuration
NODE_ENV=development
PORT=3000
INITIAL_ADMIN_EMAIL=admin@Groupe-Gaff.com
INITIAL_ADMIN_NAME="Groupe-Gaff Administrator"
INITIAL_ADMIN_PASSWORD=<MY_SECRET_PASSWORD>
INITIAL_ADMIN_PHONE=<ADMIN_PHONE_REQUIRED>
